# Root-level node_modules and lock files
node_modules/
package-lock.json
yarn.lock

# Ignore everything inside client/
client/node_modules/
client/package-lock.json
client/yarn.lock
client/.env*
client/build/

# Ignore everything inside server/
server/node_modules/
server/package-lock.json
server/.env*

# General
.DS_Store
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
